{% extends "default.html" %}
{% block title %}
Heimasíða
{% endblock %}

{% block content %}
{% include "loggedin.html" %}
<table class="basetable">
    <thead>
        <tr>
            <th>Titill</th>
            <th>Notandi</th>
            <th>Tímasetning</th>
        </tr>
    </thead>
    {% for i in listi %}
    <tr>
        <td><a href="/post/{{ i['id'] }}">{{ i["title"] }}</a></td>
        <td>{{ i["username"] }}</td>
        <td>{{ i["posttime"] }}</td>
    </tr>
    {% endfor %}
</table>
{% endblock %}